@import 'variables';
@import 'utilities';
@import 'menu';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

a {
  color: $dark-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

// MAIN NAV

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-right: 4rem;

  .menu-wrap {
    display: none;
  }
  #logo {
    margin: 1.5rem 0;
    width: 200px;
  }

  .menu-nav {
    display: flex;
    align-items: center;

    li {
      padding: 0 1rem;
    }

    a {
      border-bottom: 3px transparent solid;
      font-size: 1rem;
      font-weight: bold;
      padding-bottom: 0.5rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: border-color 0.5s;

      &:hover {
        color: $primary-color;
        border-color: $primary-color;
      }

      &.active {
        color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
}

// HEADER

#header {
  // HEADER HOME
  &-home {
    .header-content {
      background: url(../images/icecreambar1.jpeg) no-repeat center center /
        cover;
      height: 85vh;

      .title-container {
        background: #fff;
        display: inline-block;
        margin-top: 3rem;
        margin-left: 3rem;
        padding: 1rem;

        .header-title {
          color: $primary-color;
          text-transform: uppercase;
        }
      }
    }
  }
}

// ABOUT

#about {
  margin: 3rem 0;
  .about-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    h2 {
      color: $primary-color;
    }
  }
}

// NEWSLETTER
#newsletter {
  margin: 3rem 0;
  h1 {
    text-transform: uppercase;
    color: $primary-color;
  }
  p {
    margin-bottom: 1rem;
  }
  .join-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      padding: 0.5rem;
      margin-bottom: 1rem;
      width: 350px;

      &:focus {
        border: 2px solid $primary-color;
        outline: none;
      }
    }
  }
}

// FOOTER

#main-footer {
  margin: 2rem 0;

  .footer-logo {
    margin-bottom: 1.5rem;
    width: 150px;
  }

  ul {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  li {
    margin-right: 1.5rem;

    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }

  p {
    padding-bottom: 1rem;
  }

  .social .fab {
    margin-right: 1rem;

    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
}

@import 'media';
